



<div class="sign-up-form">

  <h2 class="sign-in-header">Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
    <div class="form-group">
      <label class="sr-only">First Name</label>
      <%= f.text_field :first_name, placeholder: "First Name", class: "
      form-control", autocomplete: "off" %>
    </div>
    <div class="form-group">
      <label class="sr-only">Last Name</label>
      <%= f.text_field :last_name, placeholder: "Last Name", class: "
      form-control", autocomplete: "off" %>
    </div>
    <div class="form-group">
      <label class="sr-only">Email</label>
      <%= f.email_field :email, placeholder: "Email", class: "
      form-control", autocomplete: "off" %>
    </div>
    <div class="form-group">
      <label class="sr-only">Password</label>
      <%= f.password_field :password, placeholder: "Password", class: "
      form-control", autocomplete: "off" %>
    </div>
    <div class="form-group">
      <label class="sr-only">Password Confirmation</label>
      <%= f.password_field :password_confirmation, placeholder: "Confirm Password", class: "form-control", autocomplete: "off" %>
    </div>
    <%= f.submit "Sign In", class: "btn-secondary btn-primary btn" %>

  <% end %>
  

</div>