<div id="portal-wrap">
	<div class="container">
		<div class="new-password-container text-center">

			<%= image_tag "skeeter_bw_350.png" %>

<h2 class="forgot-it text-center">Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, class: "form-inline-login" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
  	<label class="sr-only">Enter Email</label>
  	<%= f.email_field :email, :autofocus => true, class: "form-control input-lg", id: "dark-input", placeholder: "Enter email", autocomplete: "off" %>
  </div>


  <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-lg" %>
<% end %>

		</div>
	</div>
</div>