<% if user_signed_in? %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="dashboard-header">
				<%= render 'partials/admin_dashboard_header' %>
			</div>
		</div>
	</div>
</div>
<% else %>


<div id="portal-wrap">

<div class="landing-page-top">
	<div class="logo-name">
		<h1 class="landing-page"><%= image_tag "skeeter_bw_350.png", size: "200x146" %> Skeeters Baseball Club</h1>
	</div>

		
	<div class="container">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<div class="col-md-7">
					
					<!-- BOOTSTRAP SLIDE -->
					<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  					<!-- Indicators -->
  					<ol class="carousel-indicators">
    					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
   						<li data-target="#carousel-example-generic" data-slide-to="2"></li>
  					</ol>

  					<!-- Wrapper for slides -->
  					<div class="carousel-inner">
    					
    					<div class="item active">
    						<%= image_tag "skeeters_lamm.jpg" %>
    						<div class="caroisel-caption">

    						</div>
    					</div>
    					
  					</div>

  					<!-- Controls -->
  					<a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    				<span class="glyphicon glyphicon-chevron-left"></span>
  					</a>
  					<a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    				<span class="glyphicon glyphicon-chevron-right"></span>
  					</a>
					</div>
					<!-- BOOTSTRAP SLIDE END -->
				</div>
				<div class="col-md-5">
					<h3 class="welcome-title">Welcome to Skeeters Baseball</h3>
					<p class="welcome-text">Our philosophy is to provide a positive learning environment and strong foundation for young players with organized practices, good fundamentals, and character development that can be carried with them in whatever path they choose in life. With the help and training from the PCA (Positive Coaching Alliance), this club will follow the E.L.M. tree menthod of coaching, which does not focus solely on talent, but the effort that is put forth to achieve each individual player's goals of becoming a better player and person.</p>
					<p><%= link_to "Read more", info_path, class: "btn btn-primary btn-sm" %></p>
				</div>
			</div>
		</div>
	</div>
</div>
</div>


<div class="landing-page-sponsors">
	<div class="container">
		<div class="row">


			<h3 class="sponsor-heading">Some of our sponsors:</h3>
			<p class="text-center"><%= link_to image_tag("bridgemore_600.jpg", width: "300", class: "sponsor-img"), "http://bridgemoreconcepts.com/", target: "_blank" %></p>

		</div>
	</div>
</div>




	
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
			
				<h3 class="member-login-text">Member Login:</h3>
				<div class="login-form-box">
					<%= form_for(resource, :as => resource_name, html: {class: "form-inline-login"}, :url => session_path(resource_name)) do |f| %>
					

					<div class="form-group">
						<label class="sr-only" for="exampleInputEmail2">Email address</label>
						<%= f.email_field :email, :autofocus => true, class: "form-control", id: "dark-input", placeholder: "Enter email", autocomplete: "off" %>
					</div>
					<div class="form-group">
						<label class="sr-only" for="exampleInputPassword2">Password</label>
						<%= f.password_field :password, class: "form-control", id: "dark-input", placeholder: "Password", autocomplete: "off" %>
					</div>
					<%= f.submit "Sign In", class: "btn-secondary btn-primary btn-secondary" %>
					<% end %>
					<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
 					<p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
					<% end -%>
				</div>
			</div>
		</div>
	</div>
</div>

</div>


<% end %>