<!DOCTYPE html>
<html>
<head>
  <title>Skeetersbaseballclub</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 
  <%= csrf_meta_tags %>
  <!--<script>
  $(function () {
  	var $secondary = $(".secondary-top-container");

  	var setSize = function () {
  		windowHeight = $(window).height();
  		$secondary.height(windowHeight);
  	};
  	setSize();

  	$(window).resize(setSize);
  });
  </script> -->

</head>
<body>


<%= yield %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
</body>
</html>
